---
import { Icon } from 'astro-icon/components';
import FontIconUnbiasedSylexiad from '~/components/ui/FontIconUnbiasedSylexiad.astro';
import FontIconUnbiasedOpenDyslexic from '~/components/ui/FontIconUnbiasedOpenDyslexic.astro';
import FontIconUnbiasedFastSans from '~/components/ui/FontIconUnbiasedFastSans.astro';

export interface Props {
  iconClass?: string;
}

const { iconClass = 'w-5 h-5' } = Astro.props;
---

<div class="dropdown relative">
  <button
    type="button"
    class="hover:text-link dark:hover:text-white px-4 py-3 flex items-center whitespace-nowrap"
    aria-label="Select font"
    data-font-toggle-button
  >
    <span class="font-sans">Font</span>
    <Icon name="tabler:chevron-down" class="w-3.5 h-3.5 ml-0.5 rtl:ml-0 rtl:mr-0.5 hidden md:inline" />
  </button>

  <ul class="font-dropdown-menu absolute bottom-full mb-2 md:top-full md:bottom-auto md:mb-0 bg-white dark:bg-dark border border-gray-200 dark:border-gray-700 md:border-0 md:backdrop-blur-md rounded pl-4 md:pl-0 hidden flex flex-col w-max font-medium md:bg-white/90 drop-shadow-xl md:right-0 items-center list-none">
    <li>
      <button
        type="button"
        class="first:rounded-t last:rounded-b md:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-3 transition-all"
        aria-label="Sylexiad Sans Medium"
        data-font-button="sylexiad"
      >
        <FontIconUnbiasedSylexiad class="h-4" />
      </button>
    </li>
    <li>
      <button
        type="button"
        class="first:rounded-t last:rounded-b md:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-3 transition-all"
        aria-label="OpenDyslexic"
        data-font-button="opendyslexic"
      >
        <FontIconUnbiasedOpenDyslexic class="h-4" />
      </button>
    </li>
    <li>
      <button
        type="button"
        class="first:rounded-t last:rounded-b md:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-3 transition-all"
        aria-label="Fast Sans"
        data-font-button="fastsans"
      >
        <FontIconUnbiasedFastSans class="h-4" />
      </button>
    </li>
  </ul>
</div>
